page-home {
.list{
    margin: 10px;
    color: black;
}
    
}
[ion-item]{
    padding: 10px;
    margin: 10px;
    background-color:palevioletred;
   
}
.item p{
    color:black;
}
.list-header{
    background-color: palevioletred;
    height: 60px;
   
}
.content{
   background-color:pink;
  
}
