page-images {
    .list{
        margin: 10px;
    }
    [ion-item]{
        padding: 10px;
        margin: 10px;
        background-color:palevioletred;
       
    }
    
    .list-header{
        background-color: palevioletred;
        height: 60px;
        
    }
    .content{
       background-color:pink;
    }
 .card{
    background:palevioletred;
    
 } 
}
